#login-form {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    text-align: center;
}

#registration-form {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    text-align: center;
}

#index-form {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    text-align: center;
}

#btn {
     margin-right: 100px;
}

#inline {
    display: inline;
}